*{
    box-sizing: border-box;
    margin: 0;
    padding:0;
    font-family: 'Montserrat', serif;
}

.wh{
    color: white;
}
.gr{
    color: gray;
}
.fxs{
    font-size:x-small;
}
.fs{
    font-size: small;
}
.fm{
    font-size: medium;
}
.fl{
    font-size: large;
}
.fxl{
    font-size: x-large;
}
.fxxl{
    font-size: xx-large;
}
.r-mrg-s{
    margin-right: 3px;
}
.l-mrg-m{
    margin-left: 5px;
}
.l-mrg-l{
    margin-left: 10px;
}

.mrg{
    margin-top: 15px;
} 
.mrg-s{
    margin-top: 10px;
} 

.mrg-l{
    margin-top: 30px;
}

.mrg-xl{
    margin-top: 60px;
}

.mrg-xxl{
    margin-top: 90px;
}
.container-fluid {
    width: 100%;
    background-color: rgb(98, 0, 128);
}

.app{
    max-height: 100vh;
}

.app main{
    height: calc(100vh - 90px);
    background-color: #141922;
}

/* Sidebar */

main .sidebar{
    background: rgb(0, 0, 0);
    display: flex;
    flex-direction: column;  
    height: 100%;
    justify-content: space-between;

}

/* Blocco A sidebar*/

.top{
    height: 220px;
    flex-shrink: 1;
    overflow-y:hidden;
    z-index: 100;
}

.sb,.tittle{
    width: 100%;
    padding-left: 5px;
}
.tittle{
    height: 90px;
    display: flex;
    align-items: center;
}

.tittle .x{
    height: 30px;
    background-image: url(../img/logo-small.svg);
    background-repeat: no-repeat;
    width: 100%;
    z-index: 1001;
}

.icon{
    display: inline-block;
    font-size: x-large;
    margin-right: 3px;
}
.icon.xxl{
    font-size:35px;
    margin-right: 6px;

}


.text{
    font-size: small;
    vertical-align:super;
}
.text.xxl{
    font-size: large;
    overflow-x: visible;
}
.tex{
    font-size: small;
    margin-top: 10px;
}




/* Blocco B sidebar*/
.side.middle{
    overflow-y: scroll;
    flex-shrink:20;
    height: 100%;
}

.crea{
    margin-top: 5px;
    display:flex;
    align-items: center;

}

.sb:hover,.crea:hover, .tex:hover, .installa-text:hover{
    color: white;
}


/* Blocco C sidebar*/

.hide-hr{
    display:none;
}


.s-foo-text{
    display: none;
}

/* Al cambio di device compaiono i testi sulla sidebar */
.text, .tex,.icon,.playlist, .icon.xxl, .s-foo-text, .installa {
    display: none;
}

/* Blocco MAIN */
main .content{
    background-color: #141922 ;
    overflow-y: scroll;
    /* tolgo il margine della topbar */
    height: calc(100% - 90px);
    display: flex;
    flex-wrap: wrap;
}

.topbar{
    height: 90px;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.411);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1001;
    display: flex;
    justify-content: flex-end;
    align-items:center;
    padding-right: 30px;


}

.upgrade{
    color: white;
    height: 40px;
    /* Non voglio che il testo vada a capo */
    min-width:max-content;
    line-height: 40px;
    border: 1px solid white;
    border-radius: 20px;
    padding-left: 30px;
    padding-right: 30px;
 }

 #casa:hover .upgrade{
     height: 45px;
     line-height: 45px;
     font-size: large;
     border-radius: 30px;
 }

 /* Core */

 /* Schede */
 .schede-space{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-top: 20px;
}
 .schede{
     width: 600px;
     display: flex;
     flex-wrap: wrap;
     justify-content:space-around;
 }
 .tp{
     margin-left: 15px;
     margin-bottom: 30px;
 }

 .tp:hover{
     color: white;
 }
 
/* Copertine main */
.core{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: space-around;
    padding-left: 15px;
}
.cat{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: start;
    /* align-content: space-between; */

}
.tit{
    width: 100%;
    margin-bottom: 15px;
    margin-top: 15px;
}

.album-container{
    width:  calc(100% / 2 - 15px);
    margin-right: 15px;
}
.rec, .cre, .pop{
    position: relative;
    width: 100%;

}
.rec img,.cre img, .pop img{
    width: 100%;
    object-fit:contain;
    display: block;
  }

  .pop img{
      border-radius: 50%;
  }

  .layover{
      opacity: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(0, 0, 0, 0.5);
      position: absolute;
      left: 0px;
      top: 0px;
      display: flex;
      justify-content: center;
      align-items: center;
  }

  .cre:hover .layover, .rec:hover .layover{
    opacity: 1;
  }
  .pop:hover .layover{
    opacity: 1;
    border-radius: 50%;

  }

/* Footer */
.app footer{
    background-color: #282828;
    height: 90px;
    display: flex;
    justify-content: space-between;
    z-index: 1000;
}

 
.foo.right{
    display: flex;
    width:270px;
    flex-shrink:2;
}

.foo.left{
    display: flex;
    max-width:270px;
    flex-shrink:1000;
   margin-right: 15px;
}

/*Footer Left */
.album{
    height: 100%;
    width:  20% ;  
}
.album.cover{
    min-width: 40px;
    display: flex;
    justify-content: center;
}
.album.cover img{
    width: 80%;
    object-fit:contain;
  }

.album-name.col,.album.love{
    display: flex;
    align-content: center;
    flex-wrap: wrap;
    margin-left: 5px;
}
.album-tit{
    width: 100%;
}
.track-tit{
    width: 55%;
    font-size: small;
    margin-right: 45%;
}
.tr-love, .folder{
    width: 100%;
}

.tr-love:hover, .folder:hover{
    color: white;
}

.track-tit:hover{
    color: white;
    text-decoration: underline;
}
/* Footer Center */
.foo.center{
    display: flex;
    align-content: center;
    justify-content: center;
    flex-wrap: wrap;
    flex-shrink:2;
    height: 100%;
}

.first-row{

    width: 50%;
    min-width: 140px;
    display: flex;
    justify-content: space-around;
    align-items:center;
}
.first-row.space{
    width: 140px;
}


#play:hover{
font-size: 40px;
line-height: 40px;
margin: 0px -4px -2px -4px;
}



.second-row{
    height: 30%;
    width: 70%;
    min-width: 140px;
    display: flex;
    justify-content:space-around;
    align-items:center;
}

.total-t{
    height: 3px;
    width: 80%;
    border: 2px solid white;
    border-radius: 50px;
    background-color: white;
    margin-left: 3px;
    margin-right: 3px;
}

.current-t{
    height: 3px;
    width: 30%;
    border: 2px solid gray;
    border-radius: 50px;
    margin-top: -2px;
    margin-left: -2px;
    background-color: gray;
}

.round{
    opacity: 0;
    height: 10px;
    width: 10px;
    border: 2px solid rgb(255, 255, 255);
    border-radius: 50px;
    background-color: rgb(255, 255, 255);
}

.total-t:hover #first-round{
    opacity: 1;
    margin-top: -5px;
    margin-left: 100%;
}
.total-t:hover .current-t{
    background-color: green;
    border:2px solid green;

}



/* Footer Right */
.foo.right{
    overflow-x: hidden;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.volume{
    height: 3px;
    width: 50%;
    border: 2px solid gray;
    border-radius: 50px;
    background-color: gray;
}
.volume-level{
    height: 3px;
    width: 30%;
    border: 2px solid white;
    border-radius: 50px;
    margin-top: -2px;
    margin-left: -2px;
    background-color: white;
}


    


.volume:hover #second-round{
    opacity: 1;
    margin-top: -6px;
    margin-left: 24%;
}
.volume:hover .volume-level{
    background-color: green;
    border: 2px solid green;
}





/* Passaggio alla modalità non smartphone */
@media only screen and (min-width: 576px) {
    .sb{ 
        margin-top: 5px;
      
    }
    .tittle .x{
        height: 40px;
        background-image: url(../img/logo.svg);
        background-repeat: no-repeat;
    }

    .text, .icon,.playlist, .icon.xxl, .s-foo-text, .installa {
        display:inline-block;
    }

    .hide-hr, .tex{
        display:block;
    }

    main .sidebar{
        padding-left: 15px;
        padding-right: 15px;
    }

    .side.bot{
        height: 100%;
        overflow: hidden;
        flex-shrink: 30; 
        display: flex;
        flex-wrap: wrap;
        align-content:flex-end;
        margin-bottom: 5px;
      
    }
    
    .hide-hr{
        margin-top: 10px;
        margin-bottom: 10px;
        width: 100%;
    }
    .allinea{
       display: flex;
       align-items: center;
    }

    .icon-allinea{
        margin-top: 0px;
        margin-left: 0px;
    }
    .installa-text{
        margin-left: 0px;
    }

   
}

@media only screen and (min-width: 768px) {

    .album-container{
        width: calc( 100% / 4 - 15px);
        margin-right: 15px;
    
    }
    
}

@media only screen and (min-width: 992px) {
    .album-container{
        width: calc( 100% / 6 - 15px);
        margin-right: 15px;
    
    }
}

@media only screen and (max-height: 220px) {
    .side.bot{
        display: none;
    }
}