*{
    box-sizing: border-box;
    margin: 0;
    padding:0;
    font-family: Arial, Helvetica, sans-serif;
}


.mrg{
    margin-top: 15px;
} 

.mrg-l{
    margin-top: 30px;
}

.mrg-xl{
    margin-top: 60px;
}

.mrg-xxl{
    margin-top: 90px;
}
.container-fluid {
    width: 100%;
    background-color: rgb(98, 0, 128);
}

.app{
    max-height: 100vh;
}

.app main{
    height: calc(100vh - 90px);
    background-color: #141922;
}

/* Sidebar */

main .sidebar{
    background: rgb(0, 0, 0);
    display: flex;
    flex-direction: column;  
    height: 100%;
   justify-content: space-between;

}
.side{
    color: white;
}

/* Blocco A */

.top{
    height: 220px;
    flex-shrink: 1;
    overflow-y:hidden;
    z-index: 100;
}

.sb,.tittle{
    width: 100%;
    padding-left: 5px;
}
.tittle{
    height: 90px;
    display: flex;
    align-items: center;
}

.tittle .x{
    height: 30px;
    background-image: url(../img/logo-small.svg);
    background-repeat: no-repeat;
    width: 100%;
}

.icon{
    display: inline-block;
}

.text{
    font-size: small;
    vertical-align:super;
}
.text.xxl{
    font-size: large;
    overflow-x: visible;
}
.tex{
    font-size: small;
    margin-top: 15px;
}

.icon{
    font-size: x-large;
    margin-right: 3px;
}

.icon.xxl{
    font-size:35px;
    margin-right: 6px;

}

/* Blocco B */
.middle{
    overflow-y: scroll;
    flex-shrink:20;

}
.crea{
    display:flex;
    align-items: center;
}

/* Blocco C */
.side.bot{
    overflow: hidden;

    flex-shrink: 100;  
}

.hide-hr{
    margin-top: 10px;
    margin-bottom: 10px;
    display:none;
}

.s-foo-text{
    display: none;
}



/* Al cambio di device compaiono i testi sulla sidebar */
.text, .tex,.icon,.playlist, .icon.xxl{
    display: none;
}

main .content{
    background-color: #141922 ;
    overflow-y: scroll;
    /* tolgo il margine della topbar */
    height: calc(100% - 90px);
}

.topbar{
    height: 90px;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.411);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1001;
    display: flex;
    justify-content: flex-end;
    align-items:center;
    padding-right: 30px;


}

.upgrade{
    color: white;
    height: 40px;
    /* Non voglio che il testo vada a capo */
    min-width:max-content;
    line-height: 40px;
    border: 1px solid white;
    border-radius: 20px;
    padding-left: 30px;
    padding-right: 30px;
 }

.example{
    height: 200vh;
    width: 200px;
    margin: 0 auto;
    background-color: teal ;
}


.app footer{
    background-color: #282828;
    height: 90px;
    display: flex;
    justify-content: space-between;
    z-index: 1000;
}

.foo{
    width:10%;
    border:1px solid silver;
}

.left{

}
.center{
    width: 40%;
}


@media only screen and (min-width: 576px) {
    .sb{ 
        margin-top: 5px;
      
    }
    .tittle .x{
        height: 40px;
        background-image: url(../img/logo.svg);
        background-repeat: no-repeat;
    }

    .text, .icon,.playlist, .icon.xxl, .s-foo-text, .hide-hr{
        display:inline-block;
    }

    .tex{
        display:block;
    }

    main .sidebar{
        padding-left: 25px;
        padding-right: 25px;
        
        
    
    }
}